<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{card?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="card-img" [src]="card?.images?.small">
    <ion-button class="fav-btn" *ngIf="isDisabled" (click)="saveCard()">Add to Favorites</ion-button>
    <ion-button class="del-btn" *ngIf="!isDisabled" (click)="deleteCard()">Remove from Favorites</ion-button>
    <ion-card-header>
      <ion-card-title>General Information</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Rarity: {{card?.rarity}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Artist: {{card?.artist}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Set Name: {{card?.set?.series}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Set Number: {{card?.number}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
