.fav-btn {
  display: block;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.del-btn {
  display: block;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card-img {
  display: block;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
